body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif; 
    background-image: url('../img/bg-3.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*Navbar*/
._nav_item:hover{
    background-color: darkgrey;
    transition: 1s;
    border-radius: 5px;
}
/*Index*/
._logo{
    animation-name: logo;
    animation-duration: 5s;
}
._section_bg{
    background-image: url('../img/bg-1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
._section_bg_dos{
    margin-top: -20px;
    background-image: url('../img/bg-2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
._texto_home{
    background-color :rgba(98, 85, 45, 0.45);
    font-size: 30px;
}
/*Contacto*/
._card_contacto{
    background-color: rgba(234, 251, 218, 0.51);
    border-radius: 20%;
}
._texto_contacto{
    font-size: 30px;
}
._section_contacto{
    margin-top: 2em;
    height: 100vh;
}

@keyframes logo {
    0%{opacity: 0;}
    100%{opacity: 1;}
   
}
@media(max-width: 768px){
    ._texto_contacto{
        font-size: 20px;
    }
}